!!!5
%head
  %script{type: "text/javascript", src: "jquery-1.9.1.js"}
  %script{type: "text/javascript", src: "openlayers/OpenLayers.js"}
  :css
    #map {
      width:1000px;
      height:900px;
    }
  :coffee
    $ -> $('#shapefile-select').on 'change', -> $(@).closest('form').submit()

%body
  %form{action: 'select', method: 'POST'}
    %select{id: 'shapefile-select', name: 'shapefile'}
      %option{value: ''} --- bitte waehlen ---
      -@shape_files.each do |file|
        %option{value: file, selected: file == @current}= file
  #map
  %script{type: "text/javascript", src: "my_click.js"}
