!!!5
%head
  %script{:type => "text/javascript", :src  => "jquery-1.9.1.js"}
  %script{:type => "text/javascript", :src  => "openlayers/OpenLayers.js"}
  :css
    #map {
      width:600px;
      height:900px;
    }

%body
  %select{name: 'shapefile'}
    -@shape_files.each do |file|
      %option{value: file}= File.basename
  #map
  %script{:type => "text/javascript", :src  => "my_click.js"}
