!!!
%head
  %title Kartographer ZIPs
  %script{src: "//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"}
  %script{src: "jquery.qtip.min.js"}
  %script{src: "raphael-min.js"}
  %script{src: "kartograph.min.js"}
  %script{src: "chroma.min.js"}

  %script{src: "kartographer.js"}

  %link{rel: "stylesheet", href: "jquery.qtip.min.css"}

  :css
    #map {
      width: 1000px;
      height: 900px;
    }


%body
  %h1 Kartograph.js!

  #map
