!!!
%head
  %title Zipcode Vector Map

  %script{src: "jquery-1.9.1.js"}
  %script{src: 'jvectormap/jquery-jvectormap-1.2.2.min.js'}

  %link{rel: 'stylesheet', src: 'jquery-jvectormap-1.2.2.css'}

  :css
    #map {
      width: 1000px;
      height: 900px;
    }

  :javascript
    $(function(){
      $('#map').vectorMap({
        map: 'world_mill_en',
        series: {
          regions: [{
            values: gdpData,
            scale: ['#C8EEFF', '#0071A4'],
            normalizeFunction: 'polynomial'
          }]
        },
        onLabelShow: function(e, el, code){
          el.html(el.html()+' (GDP - '+gdpData[code]+')');
        }
      });
    });

%body
  %h1 Vector Map!

  #map
