!!!
%head
  %title Zipcode Vector Map

  %script{src: "//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"}

  %script{src: "jvectormap/jquery-jvectormap-1.2.2.min.js"}
  %script{src: "jvectormap/jquery-jvectormap-world-mill-en.js"}
  %script{src: "jvectormap/jquery-jvectormap-de-mill-en.js"}
  %script{src: "vectormap.js"}

  %link{rel: 'stylesheet', href: 'jvectormap/jquery-jvectormap-1.2.2.css'}

  :css
    #map {
      width: 1000px;
      height: 900px;
    }


%body
  %h1 Vector Map!

  #map
